<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <title>Correo de prueba con HTML</title>
        
    </head>
    <body>
        <h1 style="color: #a569bd;">¡Hola, bienvenid@!</h1>
        
        <h1 style="color:#a569bd;"th:text="${mensaje}"></h1>
        
    </body>
</html>
